<div class="sidebar">
  <section class="popular">
    <p class="title">Popular Post</p>
    <hr>
    <ul>
      <%
        sideNav.forEach(single => {
      %>
      <li>
        <a href="#" class="flex-wrap">
          <img class="sidenav-img" src="<%= single.thumbnail %>" alt="<%= single.title %>">
          <div class="right flex-wrap">
            <p class="title sub-title"><%= single.title %></p>
            <p class="penulis"><%= single.name %></p>
          </div>
        </a>
      </li>
      <% 
        });
      %>
    </ul>
  </section>
  <section class="subscribe">
    <p class="title">Subscribe UIN Gallery</p>
    <div class="form-group flex-wrap mt-3">
      <input placeholder="E-mail kamu" type="email" class="form-control">
      <button class="btn-transparent btn">Subscribe</button>
    </div>
    <small class="penulis mt-3">Kamu akan mendapat notifikasi saat karya baru diunggah.</small>
  </section>
</div>